nav{
  margin-bottom:2vw;
  background: #FFF;
  border-bottom: 2px solid var(--main-color);
  padding-top: 1px;
}
.logo{
  float: left;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 220px;
  height: 75px;

}

.logo .pic{
  background-image: url(../media/icons/crown.png);
  background-position: 4px 2px;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 30px;
  height: 30px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  position: absolute;
  left: 42%;
}
.logo span {
  position: absolute;
  bottom: 22px;
  left: 24%;
  width: 70%;
}
.logo .div1{
  border: 1px solid;
  width: 20%;
  position: absolute;
  bottom: 27px;
  left: 0;
}

.logo .div2{
  border: 1px solid;
  width: 20%;
  position: absolute;
  bottom: 27px;
  right: 0;
}
.navigation_ul{
  list-style-type: none;
  position: relative;

}

.social {
  right: 400px;
  position: absolute;
  display: flex!important;
  top: 0px;
  justify-content: space-around;
  width: 150px!important;
}

.fb{
  background-image:url('../media/icons/fb_icon.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width:40px; height:40px;
}

.instagram{
  background-image:url('../media/icons/instagram_icon.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width:40px; height:40px;
}

.call{
  background-image:url('../media/icons/call_icon.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width:40px; height:40px;
}

.navigation_ul li{
  display: inline-block;

}

.navigation_ul li a{
	color: #CCC;
	text-decoration: none;
	font-size: 1em;
  font-weight: bold;
}
.menu_list{
  padding: 40px;
}
.active_menu{
  border-bottom: 3px solid #FFF;
  padding-bottom: 13px;
}
.active_menu a{
  color:#FFF!important;
}
.navigation_ul li a:hover, .in:hover{
	color: #FFF;
}
.in{
  cursor:pointer;
  color:#FFF!important;
}
header{
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  position:fixed;
  height:120px;
  transition: 0.3s ease;
  z-index: 1;
}
/* social icons aside */
aside a{
	display: block;
}

.clip {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.svg--source {
  display: none;
}

.svg--icon {
  width: 100%;
  max-width: 3rem;
  height: 100%;
  max-height: 3rem;
  display: block;
  margin: 0 auto;
  fill: currentColor;
}

.wrapper {

	position: absolute;
	right: 0;
	top: 50%;
}

.share {
  width: 3rem;
  height: 3rem;
  float: left;
  margin: .3rem 1rem .5rem 0;
  color: #ff9e40;
  border: .125rem solid #f3f3f3;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 50%;
  transition: 250ms;
}
.share:last-child {
  margin-right: 0;
}
.share:focus {
  outline-color: inherit;
}

.github:hover, .github:focus {
  color: #4183c4;
  box-shadow: 0 0 24px 0 #4183c4;
}

.youtube:hover, .youtube:focus {
  color: #cd201f;
  box-shadow: 0 0 24px 0 #cd201f;
}

.facebook:hover, .facebook:focus {
  color: #3b5998;
  box-shadow: 0 0 24px 0 #3b5998;
}



.container-hamburger {
  display: none;
  
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.notmobile
{
  display:none;
}