nav{
	margin-bottom:2vw;
}
.logo{
    float: left;
    left: 50px;
    position: absolute;
    top: 10px;
}
.navigation_ul{
  list-style-type: none;
  position: relative;
  left: 230px;
  width: 84%;
  background: #FFF;
  border-radius: 13px;
  padding: 5px;
  border: 2px solid #d015ed;
  padding-left: 60px;
  height: 50px;
}

.social {
  right: 400px;
  position: absolute;
  display: flex!important;
  top: 5px;
  justify-content: space-around;
  width: 150px!important;
}

.fb{
  background-image:url('../media/icons/fb_icon.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width:40px; height:40px;
}

.instagram{
  background-image:url('../media/icons/instagram_icon.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width:40px; height:40px;
}

.call{
  background-image:url('../media/icons/call_icon.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width:40px; height:40px;
}

.navigation_ul li{
	display: inline-block;
	width: 10vw;
}
.navigation_ul li a, .in{
	color: #444;
	text-decoration: none;
	font-size: 1em;
  font-weight: bold;
}
.menu_list{
  position:absolute;
  top: 15px;
}
.navigation_ul li a:hover, .in:hover{
	color: #d015ed;
}
.in{
  cursor:pointer;
}
header{
  display: block;
  margin: auto;
  margin-bottom: 2vw;
  position: fixed;
  width: 100%;
  top: 0;
}
/* social icons aside */
aside a{
	display: block;
}

.clip {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.svg--source {
  display: none;
}

.svg--icon {
  width: 100%;
  max-width: 3rem;
  height: 100%;
  max-height: 3rem;
  display: block;
  margin: 0 auto;
  fill: currentColor;
}

.wrapper {

	position: absolute;
	right: 0;
	top: 50%;
}

.share {
  width: 3rem;
  height: 3rem;
  float: left;
  margin: .3rem 1rem .5rem 0;
  color: #ff9e40;
  border: .125rem solid #f3f3f3;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 50%;
  transition: 250ms;
}
.share:last-child {
  margin-right: 0;
}
.share:focus {
  outline-color: inherit;
}

.github:hover, .github:focus {
  color: #4183c4;
  box-shadow: 0 0 24px 0 #4183c4;
}

.youtube:hover, .youtube:focus {
  color: #cd201f;
  box-shadow: 0 0 24px 0 #cd201f;
}

.facebook:hover, .facebook:focus {
  color: #3b5998;
  box-shadow: 0 0 24px 0 #3b5998;
}
