*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Typewriter;
}

.ui-tabs-tab{
    border:none!important;
}

/*************************************** FONTS */


@font-face {
  font-family: Typewriter;
  src: url(/css/font/Typewriter.ttf);
}




/************************************/


/*rate*/

.rate {
    position: absolute;
    right:5px;
    top:5px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate input:checked ~ label{
    color: var(--gold);  
}

.history_rate{
    position: unset!important;
}

/**********************************************************************************************/

.ui-datepicker{
    background:#FFF;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    margin: 5px 0px -15px 5px;
    padding: 10px;
}

#ui-datepicker-div .ui-state-highlight{
    
    border:1px solid var(--main-color);
}

#ui-datepicker-div .ui-datepicker-week-end, #ui-datepicker-div .ui-datepicker-week-end a{
    color:var(--main-color);
   
} 
#ui-datepicker-div [data-handler="selectDay"] a {
    text-align: center!important;
}

#ui-datepicker-div [data-handler="selectDay"] a.ui-state-active {
    background:var(--main-color);
    color:#FFF!important;
}

#ui-datepicker-div [data-handler="selectDay"] a:hover{
    background:var(--main-color);
    color:#FFF;
}
#ui-datepicker-div .ui-slider-handle{
    border: 2px solid var(--gold);
    border-radius: 5px;
    background: var(--main-color);
    top: -4px!important;
    cursor:pointer;
}

#ui-datepicker-div .ui-slider{
    border: 1px solid var(--main-color);
    background: var(--tab_color);
    
}

#ui-datepicker-div .ui-slider-handle:hover{
    background: var(--tab_hover)!important;
    border: 2px solid var(--gold)!important;
}

[data-handler="today"]{
    display:none;
}

.ui-datepicker-year{
    width: 55px!important;
    height: 25px!important;
    font-size: 13px!important;
    margin-left: 15px!important;
}

.ui-datepicker-month{
    width: 100px!important;
    height: 25px!important;
    font-size: 13px!important;
}

.ui-datepicker-close {
    width: 100%!important;
    border: 1px solid transparent;
    color: #fff;
    background: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.ui-datepicker-close:hover{
    color: var(--main-color);
    background: #FFF;
    border: 1px solid var(--main-color);
    transition: 0.3s;
}

.ui-datepicker-title{
    color: var(--main-color);
}


.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
    background-color: var(--main-color);
    border-radius: 50px;
    cursor: pointer;
}
.rating {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: row-reverse;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating input:checked ~ label{
    color: var(--gold);  
}




.rating > input:checked ~ label {
    color: #ffc700;    
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/**************************************************************/


select:not(#ui-datepicker-div select){
    display:none;
}
#container{
    overflow:hidden;
}

.container {
    width: 960px;
    margin: auto;
    padding: 16px;
}

:root{
    --main-color:#f5577b;
    --tab_color:#f4d8e6;
    --tab_active:#d36685;
    --tab_hover:#d36685;
    --tab_text:#b0a0ab;
    --gold:#ffc700;
}

body{
    min-width: 320px;
    display:block;
    position:relative;
    min-height: 100vh;
}

select {
    display:none;
}

#ui-datepicker-div select {
    display:unset!important;
}

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
textarea:focus, input:focus{
    outline: none;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--main-color);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.header1{
    height:70px;
    background:#fbe6f3;
    width:100%;
    transition: 0.3s;
    overflow: hidden;
}
.header1_content{

    height: 100%;
    display: flex;
    justify-content: space-between;

}
.header2{
    height:50px;
    background:var(--main-color);
    width:100%;
    transition: width 0.2s;
}
.header2_content{

    height: 100%;

}

.beauty_logo div {
    width: 40px;
    height: 40px;
    background-image: url(../media/icons/logo.png);
    background-position: center;
    background-size: contain;
    margin-top: -1px;
}



.beauty_logo h1 {
    font-size: 19px;
    color: #777;
    margin-top: 11px;
    cursor:pointer;
}

.beauty_logo{
    width: max-content;
    font-size: 150%;
    position: relative;
    top: 10px;
    display: flex;
}

.icon_log_in{
    background: var(--main-color);
    border-radius: 50%;
    color: #FFF;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 6px;
}

.login {
    float:right;
    width: 10%;
    justify-content: space-evenly;
    cursor:pointer;
    margin-top:10px;
}

.login span {
    line-height: 30px;
    margin-left: 10px;
}



/* float clear class */
.clear{
    clear: both;
}
/* footer */
.flex{
    display:flex;
}

.lari{
    width: 25px;
    height: 20px;
    background-image: url(../media/icons/lari.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }

.k-header .k-icon {
    margin-top: -25px;
}

.k-pager-wrap .k-pager-numbers .k-state-selected {
    margin-top: 0;
}

.alert_wrapper{
    height: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.selectric_wrap{
    width:250px;
}

.fullWidth{
    width:100%;
}

.alert {
    display: none;
    padding: 20px;
    color: white;
    margin: 1% 10%;
    width: 80%;
    border-radius: 15px;
    opacity: 0.9;
    line-height: 25px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.k-animation-container {
    top: 0!important;
}
#calc_experience{
    margin-top:170px;
}
.container_style{
    margin: auto;
    padding-top:130px;
    height: inherit;
    padding-bottom: 150px;
}
.bold{
    font-weight:bold;
}



.up {
    /* height: 50px; */
    margin-top:-70px;
    transition: 0.3s ease;
}

#footer{
    width:90%;
    margin-left:5%;
    border-top: 1px solid #888;
    bottom: 0px;
    height:60px;
}
#footer p{

    color: #888;

    text-align: center;
    font-size: 15px;
}

/* 404 */
.pg404_button a {
    text-decoration:none;
    color:var(--main-color);
}
#page_404{
    background-color: #000;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}
.pg404_four {
    width: 100%;
    margin: 0 auto;
    margin-top: 10vH;
    /* position: absolute; */
    /* color: white; */
    text-align: center;
    font-size: 250px;
    color: white;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: transparent;
    text-shadow: 5px 5px var(--main-color);
    transition: 2s;
}
.pg404_notFound {
    width: 100%;
    /* left: 50%; */
    /* margin-left: -30%; */
    top: 50%;
    color: var(--main-color);
    font-size: 70px;
    text-align: center;
    /* position: absolute; */
    z-index: 2;
    text-transform: uppercase;
    transition: 2s;
}
.pg404_button {
    left: 50%;
    /* margin-left: -80px; */
    top: 70%;
    color:  var(--main-color);
    font-size: 20px;
    padding: 10px;
    border: 1px solid var(--main-color);
    text-align: center;
    /* position: absolute; */
    z-index: 2;
    text-transform: uppercase;
    transition: 2s;

}
.pg404_button:hover{
    cursor: pointer;
    color:#FFF;
    background-color: var(--main-color);
    transition: 2s;
}

.pg404_button:hover a{
    color:#FFF;

}


.dropbtn {

    width: 100px;
    height: auto;
    list-style: none;
    padding-bottom: 50px;
}

.dropdown-content {

    opacity: 0;
    position: absolute;
    background-color: var(--main-color);
    width: 170px;
    height: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -36px;
    margin-top: 44px;
    overflow: hidden;
    transition: all 0.5s;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid var(--main-color);
    border-top: none;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition:0.3s;
}

.dropdown-content a:hover {background-color: #FFF; color:var(--main-color)!important;}
.dropbtn:hover .dropdown-content {
    opacity: 1;
    height:auto;
}

#canvas_wrapper{
    width:100%!important;
    height:616px!important;
      background-image: url("../media/img/header.jpg"); /* The image used */
        background-color: #cccccc; /* Used if the image is unavailable */
        height: 500px; /* You must set a specified height */
        background-repeat: no-repeat; /* Do not repeat the image */
}

button:focus {outline:0;}


.golden-base {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
  -webkit-margin-before: 0.3em; 
  -webkit-margin-after: 0.2em;
}


.mobile_li{
    display:none!important;
  }


  #close_menu {
    text-align: right;
    font-size: 25px;
    color:#FFF;
  }

  #menu{
    right: 30px;
    position: absolute;
    top: 30px;
    font-size: 25px;
    color:var(--main-color);
  }

.person_info{
    display: flex;
    flex-direction: column;
}

.history_item{
    display: flex;
    padding: 15px;
    border-radius: 7px;
    margin-top: 25px;
    flex-wrap: wrap;
    height:auto;
    flex-direction: column;
}
.history_item div {
    padding: 0 15px;
}

.history_item:hover{
    cursor:pointer;
    background-color:var(--main-color);
    color:#FFF;
}


.history_item_client{
    display: flex;
    padding: 15px;
    border-radius: 7px;
    margin-top: 25px;
    flex-wrap: wrap;
    height:auto;
    flex-direction: column;
}

.history_item_client div {
    padding: 0 15px;
}

.history_item_client:hover{
    cursor:pointer;
    background-color:var(--main-color);
    color:#FFF;
}

.history_flex{
    display:flex;
    justify-content: space-between;
}

.history_container {
    margin-top: 70px;
    width: 90%;
    margin: auto;
    padding: 16px;
    line-height: 40px;
}

#history_price{
    display: flex;
    line-height: 20px;
}
.selectric {
    max-width: calc(60vw - 200px);
    min-width:100%;
}

.districts{
    line-height:25px;
}
/*  @media  */ 
@media all and  (max-width:1024px) {
    .selectric {
        max-width: calc(90vw - 200px);
        min-width:100%;
    }
}


@media all and (max-width:1024px) and (min-width:960px) {
    .pic_view{
        background-size: 70%;
    }
}

@media all and (max-width:960px) and (min-width:768px) {
    .container{
        width:100%;
    }
    .login {
        width: 15%;
    }

    .ui-tabs-nav li a{
        width: 130px;
        font-size: 10px;
    }

    .row-wrapper{
        
    grid-template-columns: 10% 45% 30%;
    }

    .phone-grid-in{
        grid-auto-columns: 65% 30%;
    }

    .pic_view{
        background-size: 70%;
    }

    .modal-content{
        width:70%;
    }

    .profile_name {
        line-height: 50px;
        margin-top: 65px;
    }

    .profile_name h2 {
        font-size: 30px;
    }

    .home_tabs {
        width: 85%;
    }
    
}

@media all and (max-width:768px) and (min-width:520px) {
    .container{
        width:100%;
    }
    .login {
        width: 15%;
    }
    .header2 {
        width:0;
        right: 0;
        position: absolute;
        height: 100vh;
    }
    .open_menu{
        width: 50%;
      }
      
    .navigation_ul {
        list-style-type: none;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60vh;
    }

    .navigation_ul li{
        width: 100%;
        text-align: center;
    }

    .active_menu {
        padding: 13px;
        background: #FFF;
        color: #CCC;
        border-radius: 13px 1px;
    }
    .mobile_li{
        display:inline-block!important;
    }
    .up {
        margin: 0px;
    }
    .login{
        display:none;
    }

    .calc_price{
        width:30%;
    }

    #need-job-img{
        width: 100px;
        height: 75px;

    }
    
    #need-assistant-img{
      width: 100px;
      height: 75px;

    }

    .home_tab_text {
        font-size: 12px;
    }

    .ui-tabs-nav li a {
        width: 35px;
        overflow: hidden;
        height: 40px;
        
    }

.ui-tabs-nav li.ui-state-active a{
    width:auto;
    transition:width 0.3s;
}

.ui-tabs-nav{
    margin: 50px auto;
    width: 80%;
}

.main-grid{
    width:95%;
}

.row-wrapper{
        
    grid-template-columns: 10% 45% 30%;
    }

    .phone-grid-in{
        grid-auto-columns: 50% 35%;
    }

    .staff-info {
        display: grid;
        grid-auto-flow: row;
        line-height: 10px;
        margin-bottom: 15px;
        grid-gap: 15px;
        grid-auto-columns: 100%;
    }

    .rate:not(:checked) > label {
        font-size:25px;
    }


    .pic_view{
        background-size: 90%;
    }

    .modal-content{
        width:90%;
    }

    .profile_name {
        line-height: 50px;
        margin-top: 65px;
    }

    .profile_name h2 {
        font-size: 25px;
    }

    .home_tabs {
        width: 100%;
    }

}

@media all and (max-width:620px) and (min-width:570px) {
    .rate:not(:checked) > label {
        font-size:20px;
    }


}

@media all and (max-width:570px) and (min-width:520px) {
    .portfolio_wrap{
        justify-content: space-around;
    }

    .rate:not(:checked) > label {
        font-size:18px;
    }


    
}
@media all and (max-width:520px) and (min-width:320px){
    .container{
        width:100%;
    }
    .login {
        width: 15%;
    }
    .header2 {
        width:0;
        right: 0;
        position: absolute;
        height: 100vh;
    }
    .open_menu{
        width: 100%;
      }
      
    .navigation_ul {
        list-style-type: none;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60vh;
    }

    .navigation_ul li{
        width: 100%;
        text-align: center;
    }

    .active_menu {
        padding: 13px;
        background: #FFF;
        color: #CCC;
        border-radius: 13px 1px;
    }
    .mobile_li{
        display:inline-block!important;
    }
    .up {
        margin: 0px;
    }
    .login{
        display:none;
    }

    .calc_price{
        width:50%;
    }

    .calculator{
        width:100%;
    }
    .profile{
        width:95%;
        position: relative;
    }
    .profile_image{
        width:70px;
        height:70px;
    }

    #calc_text {
        width: 100%;
        margin: 0;
    }

    #need-job-img{
        width: 140px;
        height: 75px;
        margin:0;
    }
    
    #need-assistant-img{
      width: 140px;
      height: 75px;
      margin:0;
    }

    .home_tab_text {
        font-size: 12px;
    }

    .main-buttons .home_tab{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .main-buttons {
        display: flex;
        width: 100%;
        border: none;
        flex-direction: column;
    }



    /*********/


    .ui-tabs-nav li a {
        width: 35px;
        overflow: hidden;
        height: 40px;
        
    }

.ui-tabs-nav li.ui-state-active a{
    width:auto;
    transition:width 0.3s;
}

.ui-tabs-nav{
    margin: 50px auto;
    width: 100%;
}

.main-grid{
    width:95%;
    justify-content: space-around;
}

.row-wrapper{
        
    grid-template-columns: 2% 45% 30%;
    font-size: 10px;
    }

    .phone-grid-in{
        grid-auto-columns: 45% 25%;
        font-size: 10px;
    }

    .profile_name {
        line-height: 30px;
        font-size: 12px;
        text-align: center;
        margin-top: 30px;
    }

    .profile_name h2 {
        font-size: 16px;
    }


    .user-pic {
        height: 100px;
        width: 100px;
    }

    .staff-info {
        display: grid;
        grid-auto-flow: row;
        line-height: 10px;
        margin-bottom: 15px;
        grid-gap: 15px;
        grid-auto-columns: 100%;
    }

    .portfolio_wrap{
        justify-content: space-around;
    }


    .rate:not(:checked) > label {
        font-size:15px;
    }

    .profile_text {
        margin-top: 15px;
    }


    .pic_view{
        background-size: 90%;
    }

    .modal-content{
        width:90%;
    }

    .selectric {
        max-width: calc(90vw - 50px);
        min-width:100%;
    }

    .history_container{
        font-size: 12px;
    }

    .home_tabs {
        width: 75%;
        flex-direction: column;
    }

.map_wrapper{
    width:95%;
}
}



@media all and (max-width:320px){
    .container{
        width:100%;
    }
    .login {
        width: 15%;
    }
    .header2 {
        width:0;
        right: 0;
        position: absolute;
        height: 100vh;
    }
    .open_menu{
        width: 100%;
      }
      
    .navigation_ul {
        list-style-type: none;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60vh;
    }

    .navigation_ul li{
        width: 100%;
        text-align: center;
    }

    .active_menu {
        padding: 13px;
        background: #FFF;
        color: #CCC;
        border-radius: 13px 1px;
    }
    .mobile_li{
        display:inline-block!important;
    }
    .up {
        margin: 0px;
    }
    .login{
        display:none;
    }

    .calc_price{
        width:50%;
    }

    .calculator{
        width:100%;
    }
    .profile{
        width:95%;
        position: relative;
    }
    .profile_image{
        width:70px;
        height:70px;
    }

    #calc_text {
        width: 100%;
        margin: 0;
    }

    #need-job-img{
        width: 140px;
        height: 75px;
        margin:0;
    }
    
    #need-assistant-img{
      width: 140px;
      height: 75px;
      margin:0;
    }

    .home_tab_text {
        font-size: 12px;
    }

    .main-buttons .home_tab{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .main-buttons {
        display: flex;
        width: 100%;
        border: none;
        flex-direction: column;
    }


    /*********/


    .ui-tabs-nav li a {
        width: 35px;
        overflow: hidden;
        height: 40px;
        
    }

.ui-tabs-nav li.ui-state-active a{
    width:auto;
    transition:width 0.3s;
}

.ui-tabs-nav{
    margin: 50px auto;
    width: 100%;
}

.main-grid{
    width:95%;
    justify-content: space-around;
}

.row-wrapper{
        
    grid-template-columns: 2% 45% 30%;
    font-size: 10px;
    }

    .phone-grid-in{
        grid-auto-columns: 45% 25%;
        font-size: 10px;
    }

    .profile_name {
        line-height: 30px;
        font-size: 12px;
        text-align: center;
        margin-top: 30px;
    }

    .profile_name h2 {
        font-size: 16px;
    }

    .user-pic {
        height: 100px;
        width: 100px;
    }

    .staff-info {
        display: grid;
        grid-auto-flow: row;
        line-height: 10px;
        margin-bottom: 15px;
        grid-gap: 15px;
        grid-auto-columns: 100%;
    }

    .portfolio_wrap{
        justify-content: space-around;
    }


    .rate:not(:checked) > label {
        font-size:15px;
    }

    .profile_text {
        margin-top: 15px;
    }


    .pic_view{
        background-size: 90%;
    }

    .modal-content{
        width:90%;
    }

    .selectric {
        max-width: calc(90vw - 25px);
        min-width:85%;
    }

    .history_container{
        padding: 35px 14px;
        line-height: 29px;
        font-size: 10px;
    }
    .home_tabs {
        width: 95%;
        flex-direction: column;
    }

.map_wrapper{
    width:95%;
}
}