.main-buttons{
    position: absolute;
    left: 230px;
    top: -5px;
    display: flex;
    justify-content: space-between;
    width: 450px;
    border: none;
}

.main-buttons button {
    background: #fff;
    color: #444;
    padding: 15px;
    border-color: #fff;
    border-radius: 13px 1px;
    cursor: pointer;
    transition: background 0.4s;
    border: 2px solid #d015ed;
    font-weight: bold;
}

.main-buttons button:hover {
    background: #d015ed;
    color: #FFF;
}


.services{
    display: flex;
    position: absolute;
    width: 450px;
    top: 180px;
    left: 230px;
    justify-content: space-between;
    border: 2px solid #d015ed;
    padding: 5px;
    border-radius: 13px 1px;
    background:#fff;
  }
  #home{
    position:relative;
  }
  
  .service_1 {
    background-image:url('../../media/icons/service_1.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 20px; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  .service_1_colored {
    background-image:url('../../media/icons/service_1_colored.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  .service_2 {
    background-image:url('../../media/icons/service_2.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 30px; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  .service_2_colored {
    background-image:url('../../media/icons/service_2_colored.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  .service_3 {
    background-image:url('../../media/icons/service_3.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 30px; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  .service_3_colored {
    background-image:url('../../media/icons/service_3_colored.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  
  .service_4 {
    background-image:url('../../media/icons/service_4.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 30px; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  .service_4_colored {
    background-image:url('../../media/icons/service_4_colored.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  .service_5 {
    background-image:url('../../media/icons/service_5.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 30px; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  .service_5_colored {
    background-image:url('../../media/icons/service_5_colored.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  .service_6 {
    background-image:url('../../media/icons/service_6.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 30px; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  .service_6_colored {
    background-image:url('../../media/icons/service_6_colored.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width:70px; height:70px;
  }
  
  .profile_text h4{
    margin-top: 5px;
  }

  .profile_text p{
    font-size: 12px;
    margin-top: -3px;
  }
  
  .profile_text{
    margin-left:50px;

  }
  
  .profile_image{
    width: 100px;
    height: 100px;
    margin: auto;
    background-image: url(http://images.media-allrecipes.com/userphotos/960x960/4552561.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;

  }
  
  .profile {
    background: #FFF;
    padding: 10px;
    border-radius: 13px 1px;
    margin: 20px;
    height: 130px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20% 80%;
    place-content: center;
  }

.profile_wrapper{
  position: absolute;
  box-shadow: inset 1px 1px 55px -5px #d015ed;
  border-radius: 13px 1px;
  width: 50%;
  height: 0vh;
  right: 80px;
  overflow-y: auto;
  transition:0.3s;
  
}

.mobile_li{
  display:none!important;
}

.calculator{
  height: auto;
  width: 450px;
  background: #FFF;
  position: absolute;
  top: 300px;
  left: 230px;
  padding: 20px;
  border: 2px solid #d015ed;
  border-radius: 13px 1px;
  display: grid;
  grid-gap: 10px;
}

.calc_price{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 25px;
}

#calculate_button {
  width: 90%;
  border-radius: 5px;
  background-color: #d015ed;
  border: none;
  padding: 7px;
  color: #FFF;
  margin-left: 5%;
}


/***********************************/


















/***********************************************/


/*(for phones - screens less than 768px wide)*/



@media only screen and (min-width:320px ) and (max-width:1120px){

header {
  position:unset;
}

.logo{
  left: 32%;
}

.logo a img{
  width: 50%;
}

.navigation_ul{
  list-style-type: none;
    position: fixed;
    left: 0;
    width: 0;
    background: #FFF;
    border-radius: 13px;
    border: 2px solid #d015ed;
    height: 100vh;
    z-index: 3;
    top: -16px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 300px;
    padding-top: 50px;
    padding-left: 0;
    overflow:hidden;
    transition: width 0.3s;
}
.mobile_li{
  display:block!important;
  margin-left: 22%;
}
.fullscreen{
  display:none!important;
}
.social {
  right: 400px;
  position:static;
  display: flex!important;
  top: 5px;
  justify-content: space-around;
  width: 90%!important;
  margin-left: 5%;
}

.modal-content{
  width: 90%!important;
}

.register_div {
  width: 100%!important;
  margin: 0!important;
  border-radius: 5px!important;
  background-color: #f2f2f2;
  padding-top: 80px!important;
}
.container-hamburger {
  display: inline-block;
  cursor: pointer;
  z-index: 4;
  position: fixed;
  top: 20px;
  width: 8px;
  left: 15px;
}
.navigation_ul li {
  display: inline-block;
  width: 100vw;
}
.menu_list {
  position: static;
  top: 15px;
  width: 90%;
  margin-left: 10%;
}
.services{

  width: 90%;
  top: 11vh;
  left: 5%;
}

.profile_wrapper{
  width: 90%;
    height: 80vh;
    right: 5%;
    overflow-y: auto;
    top: 37vh;
}

.main-buttons {
  position: absolute;
  left: 5%;
  top: 26vh;
  display: flex;
  justify-content: space-between;
  width: 90%;
  border: none;
  font-size: 10px;
}

body{
  height:150vh;
}


#footer{
  display:none;
}

.service_1{
  background-size:15px;
}

.service_2{
  background-size:25px;
}

.service_3{
  background-size:25px;
}

.service_4{
  background-size:15px;
}

.service_5{
  background-size:25px;
}

.service_6{
  background-size:25px;
}

.service_1_colored{
  background-size:40px;
}

.service_2_colored{
  background-size:50px;
}

.service_3_colored{
  background-size:50px;
}

.service_4_colored{
  background-size:40px;
}

.service_5_colored{
  background-size:50px;
}

.service_6_colored{
  background-size:50px;
}


.profile_image {
  width: 100px;
}
.profile_text {
  margin-left: 20px;
}
.profile_text h4 {
  margin-top: 7px;
  font-size: 12px;
}


.profile_text p {
    display: none;
}
.main-buttons button{
  width:45%;
}
}



@media only screen and (min-width:440px ) and (max-width:690px){
  .logo{
    left: 38%;
  }
  
  .logo a img{
    width: 40%;
  }
}

@media only screen and (min-width:690px ) and (max-width:950px){
  .logo{
    left: 42%;
  }
  
  .logo a img{
    width: 40%;
  }
}

/* @media only screen and (min-width:650px ) and (max-width:950px){
  .logo{
    left: 42%;
  }
  
  .logo a img{
    width: 40%;
  }
} */

@media only screen and (min-width:950px ) and (max-width:1120px){
  .logo{
    left: 44%;
  }
  
  .logo a img{
    width: 40%;
  }
}

/*/********************************************************************************************/

@media only screen and (min-width:1120px ) and (max-width:1180px){
  .logo {
    float: left;
    left: 50px;
    position: absolute;
    top: 10px;
}

.profile_wrapper {
  width: 36%;
  right: 15px;
}

.navigation_ul {
  width: 79%;
}

.social {
  right: 262px;
}
}

@media only screen and (min-width:1180px ) and (max-width:1350px){
  .navigation_ul{
    width: 81%;
  }
  .social {
    right: 385px;
  }
  .profile_wrapper{
    width:40%;
    right: 15px;
  }
}


@media only screen and (min-width:1350px ) and (max-width:1620px){
  .navigation_ul{
    width: 79%;
  }
  .social {
    right: 240px;
  }
  .profile_wrapper{
    width:40%;
  }
}

@media only screen and (min-width:20px ) and (max-width:1120px){
/* heigts */

      @media only screen and (min-height:20px ) and (max-height:200px){
        .services{
          top: 121vh;
        }

        .main-buttons {
          top: 240vh;
        }
        .profile_wrapper{
          top: 305vh;
        }
        body {
          height: 600vh;
      }

      .navigation_ul{
        height: 685px;
      }
      }

      @media only screen and (min-height:200px ) and (max-height:320px){
        .services{
          top: 35vh;
        }

        .main-buttons {
          top: 71vh;
        }
        .profile_wrapper{
          top: 97vh;
        }
        body {
          height: 250vh;
      }
      .navigation_ul{
        height: 685px;
      }
      }

      @media only screen and (min-height:321px ) and (max-height:480px){
        .services{
          top: 29vh;
        }

        .main-buttons {
          top: 66vh;
        }
        .profile_wrapper{
          top: 91vh;
        }
        body {
          height: 250vh;
      }
      .navigation_ul{
        height: 685px;
      }
      }

      @media only screen and (min-height:480px ) and (max-height:520px){
        .services{
          top: 11vh;
        }

        .main-buttons {
          top: 30vh;
        }
        .profile_wrapper{
          top: 44vh;
        }
      }

      @media only screen and (min-height:521px ) and (max-height:770px){
        .services{
          top: 18vh;
        }

        .main-buttons {
          top: 37vh;
        }
        .profile_wrapper{
          top: 51vh;
        }
        body {
          height: 170vh;
      }
      }

}


/*(for tablets - screens equal to or greater than 768px wide)*/


/* @media only screen and (min-width:768px ) and (max-width:991px){



  .navigation_ul {
    list-style-type: none;
    position: relative;
    left: 230px;
    width: 69%;
    background: #FFF;
    border-radius: 13px;
    padding: 5px;
    border: 2px solid #d015ed;
    padding-left: 60px;
    height: 50px;
}

.logo a img {
  width: 80px;
}

.navigation_ul li {
  width: 9vw;
}

.menu_list {
  position: absolute;
  top: 18px;
}





.navigation_ul li a, .in {
    color: #444;
    text-decoration: none;
    font-size: 8px;
    font-weight: bold;
}

.social {
  right: 104px;
  position: absolute;
  display: flex!important;
  top: 11px;
  justify-content: space-around;
  width: 106px!important;
}

.fb, .instagram, .call {
  width: 25px;
    height: 25px;
}

} */

/*(for small laptops - screens equal to or greater than 992px wide)*/




/*(for laptops and desktops - screens equal to or greater than 1200px wide)*/

