.container_profile {
    position: relative;
    top: 170px;
    left: 12%;
}

.row-wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 10% 48% 4% 4%;
}

.k-multiselect-wrap .k-select{
    position:relative!important;
}

.k-multiselect-wrap .k-button{
    border-radius:0!important;
}


.districts-grid{
    bottom: -70px;
    position: absolute;
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: row;
}

.row-wrapper input , .phone-grid-in input{
    width: 400px;
    border: 1px solid #d015ed;
    border-radius: 12px;
    padding-left: 12px;
    padding: 10px;
    height: 35px;
    margin-left: 50px;
}

.edit {
    background: #d015ed;
    color: #FFF;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.done {
    background: #008000;
    color: #FFF;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    display:none;
}

.user-pic-wrap{
    top: -40px;
    position: relative;
}

.user-pic{
    background-color: #cccccc;
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #FFF;/*#d015ed;*/
    padding:5px;
    position: relative;
}

.user-pic:hover .change_user_pic{
    display:flex;
}

.change_user_pic{
    width: 100%;
    height: 100%;
    background: #d015ed;
    bottom: 0;
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    margin-left: -5px;
    cursor: pointer;
    color:#FFF;
    display: none;
    justify-content: center;

}
.fa-camera {
    position: absolute;
    top: 34%;
    font-size: 50px;
    
}

.info-grid{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50% 50%;
    width: 100%;
}

.phone-grid{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 15%;
    grid-gap: 22px;
}

.phone-grid-in{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 48% 4%;
    height:25px;
}

.add {
    background: #008;
    color: #FFF;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    
}

.delete {
    background: #e02e0d;
    color: #FFF;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    
}

.k-content{
    background-color:transparent!important;
}

.address-grid{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20% 20% 20%;
}

.address-in {
    line-height:40px;
}

#corect_address{
    width:500px;
}

.main-grid{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15% 50%;
}


.coin{
    background-image: url(/media/icons/coin.png);
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bautycoin{
    /* display:flex; */
    display:none;

}

.bautycoin h4{
    margin: 10px;
}


.ui-tabs-nav{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 150px 150px 140px;
    border-bottom: 1px solid #d015ed;
    text-decoration: none;
    list-style: none;
    outline:0;
    margin-bottom:50px;
}

.ui-tabs-nav li {
    background: #FFF;
    text-align: center;
    padding: 10px;
    border: 1px solid #d015ed;
    border-radius: 50% 50% 0 0;
    border-bottom: none;
    outline:0;
    transition:0.3s;
    cursor:pointer;
}


.ui-tabs-nav li a {
    text-decoration: none;
    outline:0;
}

.ui-tabs-nav li.ui-state-active{
    background:#d015ed;
    color:#FFF;
}

.ui-tabs-nav li:hover{
    background:#d015ed;
    color:#FFF;
}


.ui-tabs-nav li.ui-state-active a{

    color:#FFF;
}

.ui-tabs-nav li:hover a{

    color:#FFF;
}

#about{
    margin: 0px;
    height: 200px;
    width: 1255px;
}

[target="about"]{
    position:absolute;
}

.per-info {

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100px 100px;
    line-height: 10px;
    margin-bottom: 15px;
}

.staff-info
{

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 130px 100px;
    line-height: 10px;
    margin-bottom: 15px;
}
.portfolio_wrap{
    height: 330px;
    width: 80%;
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 20%;
    grid-template-columns: 17% repeat(4, 17%);
    grid-gap: 1%;
    overflow: auto;
}

.portfolio-add{
    display: flex;
    justify-content: center;
    padding-top: 40%;
    border: 2px solid #d015ed;
    border-radius: 18px;
    cursor: pointer;
    width:250px;
    height:250px;
}
.portfolio-add svg {
    font-size: 25px;
    color: #d015ed;
}

.portfolio-pic{
    border: 2px solid #d015ed;
    border-radius: 18px;
    background-color: #cccccc;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    width:250px;
    height:250px;
}


.datepicker{

    width: 85%!important;
    border-radius: 12px!important;
    margin-left: 52px;
}


.datepicker .k-picker-wrap {
    border-radius: 12px!important;
    border: 1px solid #d015ed!important;
    margin: 3px!important;
}


.datepicker .k-select{
    border-radius: 12px!important;
}

[type="file"]{
    display:none;
}

.sb-container div {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    background: #fff;
    height: 250px;
    border-radius: 5px;
    box-shadow: -1px -1px 3px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: center;
    -webkit-transform-origin: 25% 90%;
    -moz-transform-origin: 25% 90%;
    -o-transform-origin: 25% 90%;
    -ms-transform-origin: 25% 90%;
    transform-origin: 25% 90%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}



span.sb-icon {
    display: block;
    height: 35px;
    width: 70px;
    margin: 20px auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sb-container div h4 {
    color: rgba(255,255,255,0.9);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    border-top: 1px dashed rgba(0,0,0,0.1);
    border-bottom: 1px dashed rgba(0,0,0,0.1);
    margin: 5px;
    padding: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


span.sb-toggle {
    padding: 5px;
    margin: 0px;
    display: block;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.1);
    text-align: center;
}



.sb-container div:last-child h5 {
    font-size: 20px;
    white-space: nowrap;
    text-align: left;
    margin: 0px;
    padding: 0;
    position: absolute;
    line-height: 50px;
    top: 30px;
    left: -45px;
    color: #FFF;
    text-shadow: -1px -1px 1px rgba(255,255,255,0.1);
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    -moz-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    -o-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    -ms-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    transform: rotate(-90deg) translateX(-157%) translateY(73px);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tabs{
    margin-top: 130px;
}

#profile_wrapper .container {
    position: absolute;
    top: -60px;
    width: 0;
    height: 0;
    right: 1000px;
}

#profile_wrapper .sb-container div h4{
    color: #333;
}


#profile_wrapper .sb-container div h4:hover{
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}



.main {
    width: 0;
    height: 0;
    overflow: visible;
    margin: 0 auto;
    position: relative;
}


.portfolio-pic{
    cursor:pointer;
}

.pic_view{

    border: 2px solid #d015ed;
    border-radius: 18px;
    background-color: #cccccc;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: 100%;
    position: fixed;
    width: 120vh;
    height: 80vh;
    top: 10vh;
    margin-left: 15vh;
    display:none;
}

.pic_view span {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFF;
    cursor: pointer;
    font-size: 30px;
}

.sb-icon svg{
    font-size: 30px;
}