#profile_wrapper{
    position: relative;
}

.row-wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 10% 45% 20%;
    grid-gap: 15px;
}

.k-multiselect-wrap .k-select{
    position:relative!important;
}

.k-multiselect-wrap .k-button{
    border-radius:0!important;
}

.info-grid .selectric-items {
    top: auto;
    bottom: 100%;
}


.row-wrapper input , .phone-grid-in input{
    border: 1px solid var(--main-color);
    border-radius: 12px;
    padding-left: 12px;
    padding: 10px;
    height: 35px;
    margin-left: 50px;
}

.edit {
    background: var(--main-color);
    color: #FFF;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.done {
    background: #18b6bf;
    color: #FFF;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    display:none;
}



.user-pic{
    background-color: #cccccc;
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #FFF;/*var(--main-color);*/
    padding:5px;
    position: relative;
}

.user-pic:hover .change_user_pic{
    display:flex;
}

.change_user_pic{
    width: 100%;
    height: 100%;
    background: var(--main-color);
    bottom: 0;
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    margin-left: -5px;
    cursor: pointer;
    color:#FFF;
    display: none;
    justify-content: center;

}
.fa-camera {
    position: absolute;
    top: 34%;
    font-size: 50px;
    
}

.info-grid {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 50px;
}

.phone-grid{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 15%;
    grid-gap: 22px;
}

.phone-grid-in{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50% 20%;
    grid-gap: 15px;
    height:25px;
}

.add {
    background:#18b6bf;
    color: #FFF;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    
}

.delete {
    background: #fa4033;
    color: #FFF;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    
}

.k-content{
    background-color:transparent!important;
}

.experiences{
     font-size: 16px;
     line-height: 25px;
     padding-top: 10px;
 
}

.address_wrap{
    display:flex;
    justify-content: space-between;
}
.register_in_address{
    width: 85%;
    padding: 7px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.correct_address{
    line-height: 50px;
}
.address-in {
    line-height:40px;
    width:45%;
}

#corect_address{
    width:500px;
}

.main-grid{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.profile_name{
    line-height: 30px;
    margin-top: 60px;
}

.coin{
    background-image: url(/media/icons/coin.png);
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

[background]{
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    margin: 10px;
    margin-right: 20px;
}

.bautycoin{
    /* display:flex; */
    display:none;

}

.bautycoin h4{
    margin: 10px;
}


.ui-tabs-nav{
    /* display: grid;
    grid-auto-flow: column;
    text-decoration: none;
    list-style: none;
    outline: 0;
    margin-bottom: 50px;
    width: max-content;
    grid-gap: 10px; */

    display: flex;
    text-decoration: none;
    list-style: none;
    outline: 0;
    margin-bottom: 50px;
    width: 100%;
    justify-content: space-between;

}

.ui-tabs-nav li a {
    background: var(--tab_color);
    text-align: center;
    border-radius: 15px 0 15px 0;
    border-bottom: none;
    outline: 0;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    display: flex;
    color: var(--tab_text);
    font-weight: bold;
    width: 160px;
    transition: width 0.3s;
    font-size: 12px;
    border: 1px solid var(--tab_color);
}

.ui-tabs-nav li.ui-state-active a{
    color: var(--tab_active);
}

.ui-tabs-nav li a:hover{

    color:var(--tab_hover);
}



#about{
    margin: 0px;
    height: 200px;
    width: 100%;
    resize: vertical;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 7px;
}

[target="about"]{
    margin-top:10px;
}

.per-info {

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100px 100px;
    line-height: 10px;
    margin-bottom: 15px;
}

.staff-info
{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.portfolio_wrap {
    width: 100%;
    display: flex;
    overflow-y: scroll;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

.portfolio-add{
    display: flex;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 18px;
    cursor: pointer;
    width:250px;
    height:250px;
}
.portfolio-add svg {
    font-size: 25px;
    color: var(--main-color);
    margin: auto;
}

.portfolio-pic{
    border: 2px solid var(--main-color);
    border-radius: 18px;
    background-color: #cccccc;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    width:250px;
    height:250px;
    cursor:pointer;
    margin-bottom: 15px;
}


.datepicker{

    width: 85%!important;
    border-radius: 12px!important;
    margin-left: 52px;
}


.datepicker .k-picker-wrap {
    border-radius: 12px!important;
    border: 1px solid var(--main-color)!important;
    margin: 3px!important;
}


.datepicker .k-select{
    border-radius: 12px!important;
}

[type="file"]{
    display:none;
}

.sb-container div {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    background: #fff;
    height: 250px;
    border-radius: 5px;
    box-shadow: -1px -1px 3px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: center;
    -webkit-transform-origin: 25% 90%;
    -moz-transform-origin: 25% 90%;
    -o-transform-origin: 25% 90%;
    -ms-transform-origin: 25% 90%;
    transform-origin: 25% 90%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

 #profile_wrapper .calculator {
   width:100%;
   margin-bottom: 50px;
}

span.sb-icon {
    display: block;
    height: 35px;
    width: 70px;
    margin: 20px auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sb-container div h4 {
    color: rgba(255,255,255,0.9);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    border-top: 1px dashed rgba(0,0,0,0.1);
    border-bottom: 1px dashed rgba(0,0,0,0.1);
    margin: 5px;
    padding: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


span.sb-toggle {
    padding: 5px;
    margin: 0px;
    display: block;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.1);
    text-align: center;
}



.sb-container div:last-child h5 {
    font-size: 20px;
    white-space: nowrap;
    text-align: left;
    margin: 0px;
    padding: 0;
    position: absolute;
    line-height: 50px;
    top: 30px;
    left: -45px;
    color: #FFF;
    text-shadow: -1px -1px 1px rgba(255,255,255,0.1);
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    -moz-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    -o-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    -ms-transform: rotate(-90deg) translateX(-157%) translateY(73px);
    transform: rotate(-90deg) translateX(-157%) translateY(73px);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tabs{
    margin-top: 30px;
}

/* #profile_wrapper .container {
    position: absolute;
    top: -60px;
    width: 0;
    height: 0;
    right: 1000px;
} */

#profile_wrapper .sb-container div h4{
    color: #333;
}


#profile_wrapper .sb-container div h4:hover{
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}



.main {
    width: 0;
    height: 0;
    overflow: visible;
    margin: 0 auto;
    position: relative;
}


.pic_view{

    border: 2px solid var(--main-color);
    border-radius: 18px;
    background-color: #cccccc;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: 50%;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display:none;
}

.pic_view span {
    position: absolute;
    top: 130px;
    right: 10px;
    color: #FFF;
    cursor: pointer;
    font-size: 30px;
}

.sb-icon svg{
    font-size: 30px;
}

.tab-icon {
    background: #FFF;
    padding: 10px;
    border-radius: 15px 0;
    color: var(--tab_active); 
}

.tab-text{
    padding: 10px;
}


.non-selected-value{
    height:50px;
    width: 50px;
    border-radius:50%;
    margin:10px;
  
  }
  
  
  .dropdown-header {
          border-width: 0 0 1px 0;
          text-transform: uppercase;
      }
  
      .dropdown-header > span {
          display: inline-block;
          padding: 10px;
      }
  
      .dropdown-header > span:first-child {
          width: 50px;
      }
  
      .selected-value {
          display: inline-block;
          vertical-align: middle;
          width: 24px;
          height: 24px;
          background-size: 100%;
          margin-right: 5px;
          border-radius: 50%;
      }
  
      #customers-list .k-item {
          line-height: 1em;
          min-width: 300px;
      }
      
      /* Material Theme padding adjustment*/
      
      .k-material #customers-list .k-item,
      .k-material #customers-list .k-item.k-state-hover,
      .k-materialblack #customers-list .k-item,
      .k-materialblack #customers-list .k-item.k-state-hover {
          padding-left: 5px;
          border-left: 0;
      }
  
      #customers-list .k-item > span {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: inline-block;
          vertical-align: top;
          margin: 20px 10px 10px 5px;
      }
  
      #customers-list .k-item > span:first-child {
          -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
          -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
          box-shadow: inset 0 0 30px rgba(0,0,0,.3);
          margin: 10px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-size: 100%;
          background-repeat: no-repeat;
      }
  
      #customers-list h3 {
          font-size: 1.2em;
          font-weight: normal;
          margin: 0 0 1px 0;
          padding: 0;
      }
  
      #customers-list p {
          margin: 0;
          padding: 0;
          font-size: .8em;
      }

      .finance{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
      }

      .finance_input{
        display: flex;
        justify-content: space-between;
        width: 280px;
        line-height: 30px;
        padding: 20px;
      }

      .finance_input input {
        width: 35%;
        text-align: center;
        border-radius: 7px;
        border: none;
        padding: 4px;
      }
  

      .finance_button{
          margin-top:60px;
      }

     .finance_button button {
        width: 150px;
        padding: 5px;
        border-radius: 7px;
        border: none;
        color: #FFF;
        background-color: var(--main-color);
        border:1px solid transparent;
      }

      .finance_button button:hover{
          cursor:pointer;
          color:var(--main-color);
          background:#FFF;
          border:1px solid var(--main-color);
      }

      #calc_assistant{
          display:none;
      }

      #calc_text{
        width: 50%;
        margin-left: 25%;
        text-align: center;
        line-height: 25px;
        margin-top: 10px;
        color: var(--main-color);
      }

      .districts-grid{
        display: grid;
        grid-gap: 20px;
      }

      .windowContainer {
        width: 100%;
        margin: auto;
        padding: 16px;
      }

      .rate_buttons {
        width: 100%;
        padding: 5px;
      }

      .rate_button {
        display: flex;
        margin: auto;
        padding: 5px 25px;
        background: var(--gold);
        border: 1px solid transparent;
        color: #FFF;
        border-radius: 5px;
        cursor:pointer;
      }

      .rate_button:hover{
          color:var(--gold);
          background:#FFF;
          border: 1px solid var(--gold);
          
      }

      .rating_wrapper{
        width: 50%;
        background: #FFF;
        display: flex;
        margin: auto;
        padding: 30px;
        flex-direction: column;
      }

      .rating_wrapper p {
        text-align: center;
      }

      #close_rating_window{
        position: absolute;
        right: -10px;
        top: -50px;
        color: #000;
        font-size: 35px;
        font-weight: bold;
      }

      #close_rating_window:hover,
      #close_rating_window:focus {
            color:var(--main-color);
            cursor: pointer;
        }

        #status_wrapper {
            display: flex;
            justify-content: space-between;
            width: 80%;
            padding: 20px;
        }

        #switcher{
            position: relative;
        }

        #status{
            width:0;
            height:0;
            visibility:hidden;
        }

        #switcher label {
            width: 60px;
            height: 24px;
            background: #ddd;
            position: absolute;
            top: 0;
            border-radius: 50px;
            padding: 2px;
            cursor:pointer;
        }

        #switcher label:after {
            width: 20px;
            height: 20px;
            background: #fff;
            position: absolute;
            content: '';
            left: 4px;
            border-radius: 50%;
            transition:  0.5s;
        }

        #status:checked ~ label:after {
            left: 37px;
            transition:  0.5s;
        }

        #status:checked ~ label{
            background: #008000;
            transition:  0.5s;
        }