
/****************************************************************************log in form******************************************************/


/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.login_logo {
    width: 20%;
    border-radius: 50%;
}

.loginContainer{
    padding: 16px;
    width:100%;
}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:var(--main-color);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}




/********************************************************end log in form***************************************************************************/


/**********************************************register.html************************************/

.register_in
{
    width: 100%;
    padding: 15px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid var(--main-color);
    border-radius: 25px;
    box-sizing: border-box;
}

.register_button
{
  width: 50%;
  margin-left: 25%;
    background-color: var(--main-color);
    border: 1px solid transparent;
    padding: 14px 20px;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.register_button:hover{
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: #FFF;
}

.register_div
{
    width: 100%;
    border-radius: 25px;
    background-color: #FFF;
    padding: 30px 35px;
    margin-top: 100px;
    border: 3px solid var(--main-color);
}

.register_text{
    text-align: center;
    color:var(--main-color);
}
